
/*Element selectors*/

hr {
    border-style: solid none none none;
    border-color: black;
    border-width: 5px;    
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 15px 0;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body.portfolio {
    padding-top: 75px;
}


/*Element.Class selectors*/

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.navbar-brand {
    color: black;
    font-family: 'Bebas Neue', cursive !important;
    font-size: 3rem;
}

a.nav-link {
    color: black !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}

a.nav-link:hover {
    font-weight: bold;
}


div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*Class Selectors*/

.about-img-1 {
    float: left;
    margin: 23px 0 0 20px;
    padding: 6px 15px 0 0;
}

.about-middle-container {
    display: flex;
}

.about-text {
    color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 18px;
    margin: 20px;
}

.about-text-space {
  content: ' ';
  display: table;
  width: 15em;    /* Min width required */
}

.bottom-container {
    display: flex;
    height: 100px;
    justify-content: center;
}

.contact-container {
    height: 50px;
    width: 100px;
}

.contact-me {
    justify-content: space-around;
}
.contact-img {
    margin: 20px;
}

.container {
    margin-top: 10px;
}

.container-img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-item {
    margin-top: 10px;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.copyright-container {
    text-align: center;
}

.extra-space {
    height: 50px;
}

.location-container-divider {
        border-style: solid none none none;
        border-width: 1px;
        width: 20%;
}

.location-container-item {
    margin: 30px 20px;
    font-size: 20px;
    text-align: center;
}

.navbar {
    background-color: #f6f6f6;
}

/* Portfolio page */

/* contact page */



