
/*Element selectors*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    border-style: solid none none none;
    border-color: black;
    border-width: 5px;    
}


h4 {
    font-size: 1.2rem;
    padding: 15px;
}


button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    padding-top: 110px;
}

footer {
    background-color: rgb(36, 35, 35);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: auto;
}


/*Element.Class selectors*/

.navbar {
    background-color: rgb(36, 35, 35) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: right;
}

a.navbar-brand {
    color: white !important;
    font-family: 'Bebas Neue', cursive !important;
    font-size: 3rem;
}

a.nav-link {
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    padding-left: 30px !important;
}

a.nav-link:hover {
    font-weight: bold;
    
}


div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*Class Selectors*/

.about-img-1 {
    float: left;
    margin: 23px 0 0 20px;
    padding: 6px 15px 0 0;
}

.about-middle-container {
    display: flex;
}

.about-text {
    color: black;
    line-height: 2;
    font-size: 18px;
    margin: 20px;
}

.about-text-space {
  content: ' ';
  display: table;
  width: 15em;    /* Min width required */
}

.bottom-container {
    display: flex;
    justify-content: center;
}

#contact p {
    padding-top: 15px;
    margin: 0;
}
.contact-container {
    height: 50px;
    width: 100px;
}

.contact {
    margin-top: 50px;
    font-weight: 600;
}

.contact-me {
    justify-content: space-around;
}
.contact-img {
    margin: 20px;
}

.icon {
    color: black;
}

.icon:hover {
    color: gray;
}

.container {
    margin-top: 10px;
}

.container-img {
    height: 400px;
    width: 290px;
    object-fit: cover;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-item {
    margin-top: 10px;
}

.white {
    color: white;
}

.contact-icon {
    padding: 20px;
}


.copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12px;
    padding: 10px 0 16px;
    margin-bottom: 0;
}

.copyright-container {
    text-align: center;
}

.extra-space {
    height: 50px;
}

.location-container-divider {
        border-style: solid none none none;
        border-width: 1px;
        width: 20%;
}

.location-container-item {
    margin: 30px 20px;
    font-size: 20px;
    text-align: center;
}



/* Portfolio page */

/* contact page */



